body {
	@apply bg-black text-neutral-200 font-sansserif font-light subpixel-antialiased;
}

::root {
	color-scheme: only dark;
}

::selection {
	background: #363636;
}

p {
	font-size: 16px;
	line-height: 1.74;
}

main h1 {
	margin-bottom: 0 !important;
}

a {
	font-weight: 400 !important;
}

code {
	@apply font-mono;
	font-weight: 400 !important;
}

code::before {
	content: none !important;
}

code::after {
	content: none !important;
}

.no-pre-margin pre {
	margin: 0;
}

.prose video {
	@apply rounded-md w-full;
}

figcaption {
	text-align: center;
}

h1 {
	@apply font-system;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}
@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@media (min-width: 768px) {
	.border-gradient-animated {
		--angle: 0deg;
		border: 1px solid;
		border-image: linear-gradient(
				var(--angle),
				rgba(77, 77, 77, 1),
				rgba(0, 0, 0, 1),
				rgba(209, 209, 209, 1),
				rgba(153, 153, 153, 1)
			)
			1;
		animation: 20s rotate ease-in-out infinite;
	}
}
