body {
	@apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200 font-sansserif font-light;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

::selection {
	background: #363636;
}

@media (prefers-color-scheme: light) {
	::selection {
		background: #e5e5e5;
	}
}

p {
	font-size: 16px;
	line-height: 1.74;
}

main h1 {
	margin-bottom: 0 !important;
}

a {
	font-weight: 400 !important;
}

code {
	@apply font-mono;
	font-weight: 400 !important;
}

code::before {
	content: none !important;
}

code::after {
	content: none !important;
}

.no-pre-margin pre {
	margin: 0;
}

.prose video {
	@apply rounded-md w-full;
}

figcaption {
	text-align: center;
}

h1 {
	@apply font-system;
}