:root {
	--red: #df7f78;
	--orange: #ce9042;
	--yellow: #9ca748;
	--green: #50b584;
	--cyan: #00b3c2;
	--blue: #61a3e6;
	--purple: #a48fe1;
	--magenta: #d080b6;
	--sunplus: #fffdfb;
	--sun: #fff7ed;
	--sunminus: #f2e6d4;
	--skyplus: #cecece;
	--sky: #9e9e9e;
	--skyminus: #636363;
	--shadeplus: #3e4044;
	--shade: #24272b;
	--shademinus: #181b1f;
	--canvas-background: #0a0a0a;
}

pre {
	background-color: var(--canvas-background) !important;
}

.comment {
	color: var(--skyminus);
}
.type {
	color: var(--green);
}
.type.enum.variant {
	color: var(--green);
}
.label {
	color: var(--blue);
}
.tag {
	color: var(--blue);
}
.constant {
	color: var(--purple);
}
.constant.numeric {
	color: var(--cyan);
}
.constant.character {
	color: var(--purple);
}
.string {
	color: var(--yellow);
}
.string.special.symbol {
	color: var(--cyan);
}
.string.special.path {
	color: var(--cyan);
}
.variable {
	color: var(--sky);
}
.variable.builtin {
	color: var(--red);
}
.keyword {
	color: var(--magenta);
}
.function {
	color: var(--blue);
}
.function.macro {
	color: var(--purple);
}
.punctuation {
	color: var(--sky);
}
.operator {
	color: var(--magenta);
}
.namespace {
	color: var(--sky);
}
.diff.plus {
	color: var(--green);
}
.diff.minus {
	color: var(--red);
}
.diff.delta {
	color: var(--cyan);
}
.hint {
	color: var(--skyminus);
}
.info {
	color: var(--sky);
}
.warning {
	color: var(--yellow);
}
.error {
	color: var(--red);
}
.ui.background {
	background-color: var(--shade);
}
.ui.background.separator {
	color: var(--sky);
}
.ui.cursor.match {
	background-color: var(--shadeplus);
}
.ui.cursorline.primary {
	background-color: var(--shademinus);
}
.ui.linenr {
	color: var(--skyminus);
}
.ui.linenr.selected {
	color: var(--sky);
}
.ui.statusline {
	color: var(--shade);
	background-color: var(--sky);
}
.ui.statusline.inactive {
	color: var(--sky);
	background-color: var(--shadeplus);
}
.ui.statusline.normal {
	color: var(--shade);
	background-color: var(--blue);
}
.ui.statusline.insert {
	color: var(--shade);
	background-color: var(--green);
}
.ui.statusline.select {
	color: var(--shade);
	background-color: var(--purple);
}
.ui.popup {
	background-color: var(--shademinus);
}
.ui.popup.info {
	background-color: var(--shade);
}
.ui.window {
	color: var(--sky);
}
.ui.help {
	color: var(--sky);
	background-color: var(--shademinus);
}
.ui.text {
	color: var(--sky);
}
.ui.text.focus {
	color: var(--blue);
}
.ui.text.info {
	color: var(--sky);
}
.ui.virtual.ruler {
	background-color: var(--shademinus);
}
.ui.virtual.whitespace {
	color: var(--skyminus);
}
.ui.virtual.indent-guide {
	color: var(--shadeplus);
}
.ui.menu {
	color: var(--sky);
	background-color: var(--shademinus);
}
.ui.menu.selected {
	color: var(--blue);
}
.ui.menu.scroll {
	color: var(--sky);
	background-color: var(--shadeplus);
}
.ui.selection {
	background-color: var(--shadeplus);
}
.markup.heading {
	color: var(--skyplus);
}
.markup.list {
	color: var(--sky);
}
.markup.link.text {
	color: var(--magenta);
}
.markup.quote {
	color: var(--green);
}
.markup.raw {
	color: var(--orange);
}
