code[class*="language-"],
pre[class*="language-"] {
  color: #cccccc;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: undefined;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: undefined;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #1f1f1f;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}


.token.comment {
  color: #A19B8F;
  
}

.token.string {
  color: #9DCDF5;
  
}

.token.builtin {
  color: #0086B3;
  
}

.token.constant {
  color: #66B5F6;
  
}

.token.tag {
  color: #66B5F6;
  
}

.token.hexcode {
  color: #66B5F6;
  
}

.token.char {
  color: #66B5F6;
  
}

.token.number {
  color: #66B5F6;
  
}

.token.operator {
  color: #EB7E81;
  
}

.token.class-name {
  color: #BB97E7;
  
}

.token.attr-name {
  color: #BB97E7;
  
}

.token.selector {
  color: #BB97E7;
  
}

.token.function {
  color: #BB97E7;
  
}

.token.doctype {
  color: #FFFFFF;
  
}

.token.variable {
  color: #F39961;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}